<%- include('includes/head.ejs', { title: 'Profile' }) %>
</head>

<body>
  <%- include('includes/header.ejs') %>
    <main>
      <h1>The Profile Page</h1>
      <p>This is your personal profile page, if you're authenticated (logged
        in) and authorized.</p>
    </main>
</body>

</html>