<%- include('../../shared/includes/head', { pageTitle: 'Checkout Failure' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed</h1>
		<p>Contact us for more details</p>
  </main>
<%- include('../../shared/includes/footer') %>