/* cascading style sheets */

/* type selectors */
main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

/*
<img> element is void so to center the image
we can center its parent <body> in shared.css
*/
img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid rgb(44, 44, 44);
  /* img center using negative margin obtained from
   [main padding+border+(img border+content/2)] */
  margin-top: -134px;
}

h1 {
  font-size: 30px;
  color: rgb(31, 25, 25);
}

a {
  color: rgb(73, 29, 50);
}

span {
  color: rgb(66, 2, 2)
}


/* pseudo selectors */
/* a:hover {
  text-decoration: underline;
} */

/* id selectors */
#first-paragraph {
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 52px;
}