<header id="main-header">
  <div id="logo"><a href="/">WDE</a></div>
  <nav>
    <%- include('nav-items') %> 
  </nav>
  <!-- mobile menu btn -->
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<!-- mobile menu nav -->
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>