div {
  background-color: #c7c7c7;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  padding: 50px;
  margin: 0;
}

#container {
  background-color: #521751;
  position: relative;
}

#container p {
  color: white;
}

/*  element is fixed 
relative to viewport */
#one {
  background-color: red;
  position: fixed;
  top: 200px;
}

/* position move the element
 20px from the top margin*/
#two {
  background-color: blue;
  position: relative;
  top: 20px;
}

/* absolute put element 
out of the document flow */
#three {
  background-color: orange;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  border: 10px solid black;
}
