<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
    
<body>
  <%- include('includes/header') %>
  <%- include('includes/side-drawer') %>
  <main>
    <h1>Somenthing went wrong</h1>
    <p>
      Unfortunately, somenthing went wrong on the server
    </p>
  </main>
</body>

</html>